<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sourceforge.simcpux">

    <application>
        <activity android:name=".wxapi.WXEntryActivity">
            <intent-filter>

            </intent-filter>
        </activity>
    </application>

</manifest>